@model List<Product>
@section PageTitle {
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"> @ViewBag.Title </h1>
               
            </div>
        </div>
    </header>
}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form  asp-action ="Index" method="get"class="row gx-3 gy-2 align-items-center justify-content-center" >
            <div class="col-sm-3">
                <label class="visually-hidden " for="category">category</label>
                <select name="categoryId" class="form-select" id="category" asp-items="@ViewBag.Categories">
                    <option selected value="">select category</option>

                </select>
            </div>
            <div class="col-auto">
               
               
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          
        </form> 
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var product in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        @*  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>*@
                        <!-- Product image-->
                        <img class="card-img-top" width="200" hight="200" src="@product.Image" alt="@product.Name" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">
                                    <a asp-action="Details" asp-route-id="@product.Id" asp-controller="Products">@product.Name</a>
                                   </h5>
                                <!-- Product price-->
                                @* <span class="text-muted text-decoration-line-through">$@product.Price</span>*@ 
                                    $@product.Price
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a asp-action="AddToCart" asp-route-productId="@product.Id" asp-controller="Cart" class="btn btn-outline-dark mt-auto">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>